body {
    font-family: 'Commissioner', sans-serif;
    font-weight: 200;
    background: #F5EFE6;
    color: #483838;
}

body h3 {
    font-size: 38px;
    font-family: 'Ropa Sans', sans-serif;
}

body h1 {
    font-family: 'Ropa Sans', sans-serif;
}

footer {
    color: #C7BEA2;
    background: #665A48;
}

nav {
    background: #425F57;
}

h5 {
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 700;
    margin: 5px;
}

.process {
    background: #C7BEA2;
    color: #3C2317;
}

.email-contact-process a {
    color: #3C2317;
    text-decoration: none;
}

.navbar {
    font-weight: 500;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 22px;
}

.header-main {
    background: #0F3D3E;
    color: #F1F1F1;
}

.lead {
    font-weight: 400;
}

.header-img {
    border-radius: 5px;
}

.grid-main {
    font-weight: 400;
    font-size: 18px;
}

.para-main-grid {
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right: 35px;
}

.grid-main img {
    box-shadow: 10px 10px 15px -8px rgba(98,110,112,1);
}

.grid-main img:hover {
    opacity: 0.7;
}

.family-slider {
    font-size: 18px;
    font-weight: 400;
    background: #D7C0AE;
    padding: 15px;
}

.family-slider h3 {
    font-weight: 600;
}

.bottom-feature {
    background: blueviolet;
}

.btn-primary {
    background: #C8DBBE;
    color: #0F3D3E;
    border: none;
    font-weight: 600;
}

.btn-primary:hover {
    background: #3C2317;
    color: #F1F1F1;
    border: 1px #F1F1F1 solid;
}

.btn-outline-secondary {
    background: transparent;
    color: #F1F1F1;
    border: 1px #F1F1F1 solid;
}

.btn-outline-secondary:hover {
    background: #F1F1F1;
    color: #3C2317;
    border: none;
}

.btn-slider {
    background: #749F82;
    border: 1px #0F3D3E solid;
}

.impact-slider {
    font-size: 18px;
    font-weight: 400;
    background: #425F57;
    color: #F1F1F1;
    padding: 15px;
}

.impact-slider h3 {
    font-weight: 600;
}

.text-reset {
    text-decoration: none;
}

.email-contact a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn-impact {
    background: #3C2317;
    color: #F1F1F1;
    margin-bottom: 10px;
}

.btn-impact:hover {
    background: #425F57;
    color: #F1F1F1;
}

.card {
    background: #EEE3CB;
    color: #180e09;
    padding: 15px;
    box-shadow: 10px 10px 23px -4px rgba(161,123,100,1);
}

.card-body {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 300;
}

.card-img-top {
    border: 1px #F1F1F1 solid;
}

.card:hover {
    transform: scale(1.1);
}

.btn-impact-cards {
    border: 1px #0F3D3E solid;
}

.impact-section {
    background: #F5EFE6;
    color: #180e09;
    font-size: 18px;
    font-weight: 300;
    padding-left: 130px;
    padding-right: 130px;
}

.impact-bottom-img {
    border-radius: 3px;
    box-shadow: 4px 4px 12px -5px rgb(35, 30, 27);
}

.impact-box {
    border-left: 2px #749F82 dashed;
}

.people-video {
    background: #C8DBBE;
    font-size: 18px;
    font-weight: 400;
}

.people-slider {
    font-size: 18px;
    font-weight: 400;
}

.carousel-caption {
    background: #425F57;
}

.process-top {
    font-size: 18px;
    font-weight: 400;
    background: #EEE3CB;
    padding: 15px;
}

.process-top h3 {
    font-weight: 600;
}

.process-slider {
    font-size: 18px;
    font-weight: 400;
    background: #5C7658;
    color: #F1F1F1;
    padding: 15px;
}

.process-slider h3 {
    font-weight: 600;
}

.process-section {
    font-size: 18px;
    font-weight: 400;
    background: #EEE3CB;
    padding: 15px;

}

.process-section h3 {
    font-weight: 600;
}

.process-bottom {
    font-size: 18px;
    font-weight: 400;
    background: #553939;
    color: #F1F1F1;
    padding: 15px;
}

.process-bottom h3 {
    font-weight: 600;
}

.btn-process {
    background: #0F3D3E;
    color: #F1F1F1;
    border: 1px #F1F1F1 solid;
}